/* processImages */

div#imagesPanel {
    position: fixed;
    z-index: 10000;
    top: 5px;
    right: 5px;
    width: 150px;
    height: 600px;
    border: 2px solid black;
    padding: 5px 0;
    background-color: gray;
    overflow: scroll;
}

div#imagesPanel a#title {
    color: white;
    text-align: center;
    font-size: 1.3em;
}

.imageWrap {
    margin: auto;

    width: 75px;
    height: 75px;
}

.hiddenImage {
    width: 75px;
    height: 75px;
}

.imageOverlay {
    position: relative;
    top: -79px;
    left: 0px;
       
    border: 1px solid black;
    width: 75px;
    height: 75px;
    text-align: right;
}

.imageWrap .imageOverlay a {
    background-color: black;
    color: white;
    font-size: 1.1em;
}

/* detailImage */

html body div#detailPanel {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 450px;
    height: 350px;
    padding: 5px;
    background-color: gray;
    opacity: 0.6;
    overflow: scroll;
}

html body div#detailPanel div#details {
    color: white;
    font-size: 1.1em;
}

/* EOF */
