/* processImages */

div#cr24SauceWrapper {
    position: fixed;
    top: 0px;
    right: 150px; /* imagesPanel width */
    z-index: 10000;

    width: 0px;
    height: 0px;
}

div#cr24SauceWrapper div#imagesPanel {
    position: relative;
    top: 0px;
    right: 0px;

    width: 150px;
    height: 600px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px 0;
    overflow: scroll;
    background-color: gray;

    filter: alpha(opacity = 60);                                                 
    -moz-opacity: 0.60;                                                          
    opacity: 0.60;                                                               
    -khtml-opacity: 0.60;
}

div#imagesPanel a#title {
    display: block;
    margin: auto;

    padding: 0px 0px 5px 0px;
    color: yellow;
    text-align: center;
    font-size: 1em;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;  
}

.imageWrap {
    margin: auto;
    width: 75px;
}

.theImage {
    width: 75px;
    height: 75px;
}

.imageInfo {
    width: 75px;
    text-align: center;
    color: white;
}

.imageWrap .imageInfo a { }  

/* detailImage */

html body div#detailPanel {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 450px;
    height: 350px;
    padding: 5px;
    background-color: gray;
    opacity: 0.6;
    overflow: scroll;
}

html body div#detailPanel div#details {
    color: white;
    font-size: 1.1em;
}

/* EOF */
