
#imagesPanel {
    position: fixed;
    z-index: 10000;
    top: 5px;
    right: 5px;
    width: 150px;
    border: 2px solid black;
    padding: 5px 0;
    background-color: gray;
}

#imagesPanel .hiddenImage {
    position: relative;
    left: 25px; 
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#imagesPanel a#title {
    color: white;
    text-align: center;
    font-size: 1.3em;
}
